@font-face {
  font-family: font;
  src: url("/fonts/Mulish/static/Mulish-SemiBold.ttf");
}

html {
  font-family: font;
  font-size: 12.5pt;
}

body {
  background-color: #000e14;
}

div.highlight {
  background-color: black;
}
.himage {
  width: 1200px;
}
